body {
    height: 100%;
    
}
* {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    align-items: center;
}
div {
    border: 2px red dotted;
    min-height: 50px;
    min-width: 50px
}
#math {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
}
button {
    width: 60px;
    height: 60px;
    margin: 5px;
}
#display {
    margin: 10px;
    background-color: aliceblue;
}
#calculator {
    background-color: maroon;
    width: 375px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    min-width: 375px;
}
#numbers {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 65%
}
#operators {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.zero {
    width: 100%;

}
button.zero {
    width: 95%;
}